# Managed by Ansible

server {
        listen *:{{ httpd_port }};
        server_name *.arliveplugin.vm arliveplugin.vm;

       location / {
           root   __SERVER_ROOT__;
           index  index.html index.php index.htm;
       }

       location ~ \.php$ {
        proxy_set_header   X-Real-IP        $remote_addr;
        #proxy_set_header Host arliveplugin.vm;
        proxy_pass   http://localhost:{{ hhvm_port }};
      }
}

# SSL part, you can remove everything below if you don't want HTTPS support
#server {
#	listen 443 default ssl;
#        server_name *.arliveplugin.vm arliveplugin.vm;

#	ssl_certificate      _PATH_TO_YOUR_SSL_CRT_FILE_;
#	ssl_certificate_key   _PATH_TO_YOUR_SSL_CRT_KEY_;

#       location / {
#           root   __SERVER_ROOT__;
#           index  index.html index.php index.htm;
#       }

#       location ~ \.php$ {
#        proxy_set_header   X-Real-IP        $remote_addr;
#        proxy_set_header Host arliveplugin.vm;
#        proxy_pass   http://localhost:{{ hhvm_port }};
#      }
#}
