<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
<?php
 Print "Hello, World! I have successfully installed "
?>
<b>
<?php phpinfo(); // This should print HipHop if everything is working! 
?>
</b>
<?php
 Print "and Nginx using Ansible and my hostname is : ";
 echo exec('hostname');
?>
</body>
</html>

